body {
  font-family: 'FuturaBT-Light';
  font-size: 1.25rem;
  line-height: 1.7rem;
  color: $black;
}

h1,
.h1 {
  // font-family: '';
  font-size: 2.4rem;
  line-height: 2.6rem;
  word-wrap: break-word;
  margin: 0;
  @include breakpoint-up(xs) {
  }
  @include breakpoint-up(sm) {
  }
  @include breakpoint-up(md) {
  }
  @include breakpoint-up(lg) {
  }
  @include breakpoint-up(xl) {
  }
  @include breakpoint-up(xxl) {
  }
}

h2,
.h2 {
  // font-family: '';
  font-size: 2.4rem;
  line-height: 2.6rem;
  word-wrap: break-word;
  margin: 0;
}

h3 {
  // font-family: '';
  font-size: 2rem;
  line-height: 2.5rem;
  word-wrap: break-word;
  margin: 0;
}

h4 {
  // font-family: '';
  font-size: 1.7rem;
  line-height: 2rem;
  word-wrap: break-word;
  margin: 0;
}

h5 {
  // font-family: '';
  font-size: 1.5rem;
  line-height: 2rem;
  word-wrap: break-word;
  margin: 0;
}

h6 {
  // font-family: '';
  font-size: 1.2rem;
  line-height: 1.7rem;
  word-wrap: break-word;
  margin: 0;
}
